*{
    margin: 0;
    padding: 0;
}
.profile_container{
    margin-top:30px ;
    display: flex;
    justify-content: center;
    min-height: 500px;
}
.profile_center{
    background-color: #e2eded7d;
    border: 1px solid black;
    border-radius: 7px;
    width: 70%;
    padding: 30px;

}
.upper1_profile{
    display: flex;

}
.upper1_profile_left{
/* background-color: rgba(128, 255, 0, 0.5); */
width: 50%;
}
.upper1_profile_right{
    /* background-color: rgba(100, 148, 237, 0.555); */
    width: 50%;
    display: flex;
    justify-content: center;
}
.upper1_profile_right img{
    max-width: 180px;
    height: 150px;
    margin-top: 20px;
    border-radius: 2px;
    border: 1px solid black;
}
.upper1_profile_left p{
    margin: 20px 0;
}
/* .upper2_profile{
    background-color: rgba(137, 43, 226, 0.418);

} */
.upper2_profile p{
     margin-bottom: 20px ; 
}